@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table  table-hover" style="font-size:large">
    <thead>
        <tr>
            <th width="10%" >
                班次
            </th>

            <th>
                出勤时间
            </th>

            <th>
                出勤地点
            </th>

            <th width="35%">
                驾驶乘务作业段时间、车次
            </th>

            <th>
                退勤时间
            </th>

            <th width="10%">
                退勤地点
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>

            <td>
                04:30：00
            </td>

            <td>
                A
            </td>

            <td rowspan="3">
                05：15 ：20 --06：30：10（K1001）
                07：00 ：13 --08：20：30（K2541）
                08：50 ：23 --09：52：10（K2591）
            </td>

            <td>
                10：05：10
            </td>

            <td>
                B
            </td>
        </tr>

        <tr></tr>
        <tr></tr>
        <tr></tr>

        <tr>
            <td>
                2
            </td>

            <td>
                04：33：16
            </td>

            <td>
                A
            </td>
           
            <td rowspan="3">
                05：20：11：--06：35：31（K4562）
                07：05：13：--08：30：52（K3206）
                08：50：11：--10：10：31（K1563）
            </td>
            <td>
                10：20：23     
            </td>
                      
            <td>
                B
            </td>
         

        </tr>

        <tr></tr>
        <tr></tr>
        <tr></tr>

        <tr>
            <td>
                3
            </td>
            <td>
                04：35：32
            </td>
            <td>
                A
            </td>
            <td>
                05：15 ：20 --06：30：10（K1021）
                07：00 ：13 --08：20：30（K3541）
                08：50 ：23 --09：52：10（K4591）
            </td>
            <td>
                10：15：20
            </td>
            <td>
                B
            </td>

        </tr>



    </tbody>

</table>


